---
import MenuIcon from '../../public/images/MenuIcon.astro'
import CloseIcon from '../../public/images/CloseIcon.astro'
---

<header>
  <nav class='desktop__navbar'>
    <a class='btn desk__btn' href='/'>Home</a>
    <a class='btn desk__btn' href='/productos'>Productos</a>
    <a class='btn desk__btn' href='/about'>About</a>
    <a class='btn desk__btn' href='/galeria'>Galeria</a>
  </nav>
  <div class='container'>
    <button id='openMobile' aria-label='Open mobile menu'>
      <MenuIcon width={32} height={32} />
    </button>

    <img
      class='logo'
      src='images/logo.webp'
      alt='Logo de Asadero Palacio'
      width='1739'
      height='794'
    />
    <h1>Asadero Palacio</h1>
    <p>Más de 20 años ofreciendote el mejor servicio</p>

    <nav id='mobile__navbar' class='mobile__navbar'>
      <button id='closeMobile' aria-label='Close mobile menu'>
        <CloseIcon width={32} height={32} />
      </button>
      <a class='btn' href='/'>Home</a>
      <a class='btn' href='/productos'>Productos</a>
      <a class='btn' href='/about'>About</a>
      <a class='btn' href='/galeria'>Galeria</a>
    </nav>
  </div>
</header>

<script>
  import { openMobile, closeMobile } from '../js/mobile'
  openMobile()
  closeMobile()
</script>

<style>
  #openMobile {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
  .mobile__navbar {
    width: 100%;
    height: 100svh;
    background-color: #0f0e0e76;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      text-align: center;
      width: 250px;
    }
  }
  .desktop__navbar {
    display: none;
  }
  .logo {
    margin-inline: auto;
    width: 305px;
    height: auto;
    aspect-ratio: 1739/794;
    margin-top: var(--size-lg);
    margin-bottom: var(--size-base);
  }
  h1 {
    font-family: var(--font-primary);
    font-size: var(--size-4xl);
    text-align: center;
  }
  p {
    font-family: var(--font-secondary);
    font-size: var(--size-sm);
    text-align: center;
  }

  /* MOBILE FIRST  */

  /* xs */
  @media (min-width: 475px) {
    .logo {
      width: 400px;
    }
    p {
      font-size: var(--size-lg);
    }
  }

  /* sm */
  @media (min-width: 640px) {
    h1 {
      font-size: var(--size-5xl);
    }
    p {
      font-size: var(--size-xl);
    }
  }

  /* md */
  @media (min-width: 768px) {
    .logo {
      width: 500px;
    }
    #openMobile {
      display: none;
    }
    .mobile__navbar {
      display: none;
    }

    .desktop__navbar {
      background-color: var(--clr-secundary);
      width: 100vw;
      padding: 1rem;
      display: flex;
      justify-content: center;
      gap: var(--size-5xl);
      align-items: center;
    }
    .desk__btn {
      font-size: var(--size-xl);
      width: fit-content;
      transition: background-color 0.3s;
    }
    .desk__btn:hover {
      background-color: var(--clr-primary);
    }
  }

  /* lg */
  @media (min-width: 1024px) {
    .logo {
      width: 600px;
    }
    h1 {
      font-size: var(--size-6xl);
    }
    p {
      font-size: var(--size-2xl);
    }
  }

  /* xl */
  @media (min-width: 1280px) {
    .logo {
      width: 800px;
    }
    h1 {
      font-size: var(--size-7xl);
    }
    p {
      font-size: var(--size-3xl);
    }
  }

  /* 2xl */
  /* @media (min-width: 1536px) {} */
</style>
<!--  -->
