---

---

<header class="container">
    
    <h1>Asadero Palacio</h1>
    <nav>
        <a class="btn" href="/">Home</a>
        <a class="btn" href="/productos">Productos</a>
        <a class="btn" href="/about">About</a>
        <a class="btn" href="/galeria">Galeria</a>
    </nav>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non facilis molestias voluptatum ducimus accusamus atque, sit fugiat, nihil cupiditate officiis, minima suscipit quae recusandae dicta at sunt minus aut autem?</p>
</header>

<style>
    p{
        color: var(--clr-text);
    }
</style>