---
import ProductoCard from './ProductoCard'
import './ProductoCard.css'
import { getI18n } from '@/i18n/app'

const local = Astro.currentLocale
const i18 = getI18n(local)
---

<h2 class='main__el-title'>{i18.PRODUCTS__TITLE}</h2>
<ProductoCard client:only='preact' lang={local} />

<style>
  .main__el-title {
    font-family: var(--font-primary);
    font-size: var(--size-2xl);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
</style>
