---
import ProductoCard from './ProductoCard'
---

<h2 class='main__el-title'>Productos</h2>
<ProductoCard client:visible />

<!-- <article>
  <img
    class='productos__img'
    src='images/productos/Pollo_asado.webp'
    alt='foto de unas empandillas recien sacadas del horno'
  />
  <ul class='productos__grid'>
    {
      productos.map((product) => (
        <li class='producto'>
          <a href={`/producto/${product.id}`}>{product.name}</a>
        </li>
      ))
    }
  </ul>
</article> -->

<style>
  .main__el-title {
    font-family: var(--font-primary);
    font-size: var(--size-2xl);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
</style>
