@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.producto__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 6px;
  background-color: rgb(239, 148, 63);
  padding: 1rem;
  margin: 1rem 0px;
}
.producto__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.producto__name {
  font-size: var(--size-2xl);
}
.producto__price {
  display: flex;
  gap: 0.5rem;

  font-size: var(--size-xl);
}

.producto__alergenos {
  display: flex;
  gap: 0.5rem;
}
.alergenos__icon {
  width: 40px;
}
.productos__img {
  align-self: center;
  aspect-ratio: 16/9;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  animation: appear 0.3s ease-in;
}

.productos__grid {
  display: grid;
  gap: var(--size-sm);
  grid-auto-flow: column;
  grid-auto-columns: 150px;

  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  scrollbar-color: var(--clr-primary) var(--clr-slate);
}
.producto {
  text-align: center;
  font-family: var(--font-secondary);
  list-style: none;
  text-decoration: none;
}

/* MOBILE FIRST  */

/* xs */
/* @media (min-width: 475px){} */

/* sm */
@media (min-width: 640px) {
  .producto__card {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(200px, 1fr);
    justify-items: center;
  }
  .productos__img {
    height: 150px;
  }
  .producto {
    font-size: var(--size-lg);
  }
}

/* md */
@media (min-width: 768px) {
  .productos__img {
    height: 180px;
  }
  .producto {
    font-size: var(--size-xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  /* .main__el-title {} */
  .productos__img {
    height: 360px;
  }
  .productos__grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: unset;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-x: hidden;
    align-items: center;
  }

  .producto {
    font-size: var(--size-2xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .productos__img {
    margin-bottom: 1rem;
  }
  .productos__img {
    height: 350px;
  }
  .productos__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
