---
import { productos } from '@/data/products'
console.log(productos)
---

<h2 class='main__el-title'>Productos</h2>
<article>
  <img
    class='productos__img'
    src='images/productos/Pollo_asado.webp'
    alt='foto de unas empandillas recien sacadas del horno'
  />
  <ul class='productos__grid'>
    {
      productos.map((product) => (
        <li class='producto'>
          <a href={`/producto/${product.id}`}>{product.name}</a>
        </li>
      ))
    }
  </ul>
</article>

<style>
  .main__el-title {
    font-family: var(--font-primary);
    font-size: var(--size-2xl);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .productos__img {
    margin: 1rem 0px;
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  .productos__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
  }
  .producto {
    text-align: center;
    font-family: var(--font-secondary);
    list-style: none;
  }

  /* MOBILE FIRST  */

  /* xs */
  /* @media (min-width: 475px){} */

  /* sm */
  @media (min-width: 640px) {
    .productos__img {
      height: 150px;
    }
    .producto {
      font-size: var(--size-lg);
    }
  }

  /* md */
  @media (min-width: 768px) {
    .productos__img {
      height: 180px;
    }
    .producto {
      font-size: var(--size-xl);
    }
  }

  /* lg */
  @media (min-width: 1024px) {
    .main__el-title {
    }
    .productos__img {
      height: 350px;
    }
    .producto {
      font-size: var(--size-2xl);
    }
  }

  /* xl */
  @media (min-width: 1280px) {
    .productos__img {
      margin-bottom: 3rem;
    }
    .productos__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* 2xl */
  @media (min-width: 1536px) {
    .productos__img {
      margin-bottom: 1rem;
    }
    .productos__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
