---
import ProductoCard from './ProductoCard'
import './ProductoCard.css'
---

<h2 class='main__el-title'>Productos</h2>
<ProductoCard client:only='preact' />

<style>
  .main__el-title {
    font-family: var(--font-primary);
    font-size: var(--size-2xl);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
</style>
